<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="f1Teleform.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="f1Teleform.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <f1Teleform.Properties.Settings>
            <setting name="throttleValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="throValue" serializeAs="String">
                <value>25</value>
            </setting>
        </f1Teleform.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <f1Teleform.Properties.Settings>
            <setting name="throttleVal" serializeAs="String">
                <value>25</value>
            </setting>
        </f1Teleform.Properties.Settings>
    </applicationSettings>
</configuration>
